.outer-container {
    height: 60vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.predicted-section {
    margin-top: 50px;
    padding: 20px;
    background-color: rgb(206, 209, 213);
    width: 103%;
    min-height: 106px;
}